.white-text {
  color: #fff;
}

#my-map {
  width: 100%;
}

#route-map {
  width: 100%;
  height: 100%;
}

.main-content {
  margin-bottom: 20px;
}

#locator {
  color: #4e4e4e;
}

.map-control {
  color: #222222;
  border-radius: 4px;
  background-color: white;
  top: -45px;
  left: 10px;
  position: relative;
}

.header-link {
  text-decoration: none;
  color: white;
}

.header-link:hover {
  text-decoration: none;
  color: white;
}

.spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
